<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>日历-小工具</title>
    <script src="js/jquery-3.4.0.js"></script>
    <script src="js/vue.js"></script>
    <script src="C:\Users\Administrator\Desktop\projects\swiper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/calendar.css">
    <link rel="stylesheet" type="text/css" href="C:\Users\Administrator\Desktop\projects\swiper.min.css" />
</head>

<body>
    <div class="container">
        <div class="calendar" id="calendar">
            <div class="topbar">
                <div class="summary">
                    <label class="month" id="month"
                        style="font-size:2.25rem;display: inline-block;vertical-align: bottom;margin:5% 0 0 5%;">{{month+1}}月</label>
                    <div style="display:inline-flex;flex-direction:column;font-size: 0.875rem;vertical-align: bottom;">
                        <label class="week" id="day">周{{day}}</label>
                        <label class="year" id="year">{{year}}年</label>
                    </div>
                </div>
                <div class="weeks" style="margin-top:5%;">
                    <ul class="weeks-sort">
                        <li><label>日</label></li>
                        <li><label>一</label></li>
                        <li><label>二</label></li>
                        <li><label>三</label></li>
                        <li><label>四</label></li>
                        <li><label>五</label></li>
                        <li><label>六</label></li>
                    </ul>
                </div>
            </div>
            <div class="swiper-container calendarContent">
                <div class="swiper-wrapper">
                    <div class="previousContent swiper-slide">
                        <ul class="days">
                            <li v-for="day in days">
                                <span v-if="day.day.getMonth() != month"
                                    class="other-month">{{day.day.getDate()}}</span>
                                <span v-else>
                                    <span
                                        v-if="day.day.getFullYear() == new Date().getFullYear() && day.day.getMonth() == new Date().getMonth() && day.day.getDate() == new Date().getDate()"
                                        class="active">{{day.day.getDate()}}</span>
                                    <span v-else>
                                        <span v-if="day.day.getDate() == date" class="actived">{{day.day.getDate()}}</span>
                                        <span v-else>{{day.day.getDate()}}</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="content swiper-slide data-source">
                        <ul class="days">
                            <li v-for="day in days">
                                <span v-if="day.day.getMonth() != month"
                                    class="other-month">{{day.day.getDate()}}</span>
                                <span v-else>
                                    <span
                                        v-if="day.day.getFullYear() == new Date().getFullYear() && day.day.getMonth() == new Date().getMonth() && day.day.getDate() == new Date().getDate()"
                                        class="active">{{day.day.getDate()}}</span>
                                    <span v-else>
                                        <span v-if="day.day.getDate() == date" class="actived">{{day.day.getDate()}}</span>
                                        <span v-else>{{day.day.getDate()}}</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="nextContent swiper-slide">
                        <ul class="days">
                            <li v-for="day in days">
                                <span v-if="day.day.getMonth() != month"
                                    class="other-month">{{day.day.getDate()}}</span>
                                <span v-else>
                                    <span
                                        v-if="day.day.getFullYear() == new Date().getFullYear() && day.day.getMonth() == new Date().getMonth() && day.day.getDate() == new Date().getDate()"
                                        class="active">{{day.day.getDate()}}</span>
                                    <span v-else>
                                        <span v-if="day.day.getDate() == date" class="actived">{{day.day.getDate()}}</span>
                                        <span v-else>{{day.day.getDate()}}</span>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="custom"></div>
        <div class="weather"></div>
        <div class="setup"></div>
    </div>
    <script src="js/calendar.js"></script>
</body>

</html>